<div class="home-content wrapper">
  <h2 class="page-title">お知らせ</h2>
  <p> 〜最新の情報をお知らせします〜 </p>
</div>

<div class="new-contents wrapper">
  <article>
    <header class="new-Info">
      <h2 class="new-title">新規開校！</h2>
      <p class="new-date">9/1<span>2021</span></p>
      <p class="new-text">カテゴリ：第１期生募集中！</p>
    </header>
    <img src="/assets/study.jpg" alt="">
    <p class="new-comment">
      2021年9月〜2022年3月期の生徒募集を開始いたします！
      当塾では、第一志望合格を真剣に考えている方を募集しております。
      合格という結果を出せる人は、自らの将来を真剣に考え、今を全力で努力しています。
      未来を見据えて今を努力できる人を全力でサポートしてまいります。
      現在の状況に不安を抱えている方は
      無料での進路相談を受け付けております。
      ぜひ、お気軽にお問い合わせ下さい。<br>
      ※入塾のお申し込みは先着20名限定です！（※指導の都合上）
      期限が近づきますと混み合いますので、お早めのお申し込みをお願い致します。
      必ず合格へと導きます。
    </p>
  </article>
  
  <aside>
    <h3 class="sub-title">カテゴリ</h3>
    <ul class="sub-menu">
      <li><%= link_to '詳細', '/contents/show', method: :get, class: "menu" %></li>
      <li><%= link_to '紹介', '#', class: "menu" %></li>
    </ul>
  </aside>
</div>
