<div class="home-content wrapper">
  <h2 class="page-title">目標達成の方法、<br>教えます<br></h2>
  <p>〜　高校受験合格を100％約束します　〜</p>
</div>
  
<div class="top-content">
  <h3 class="top-message">
    【　"通常授業＋受験対策"で完全合格保証　】
  </h3>
    <p class="message-text">
      通常授業（英語・数学）と毎週土曜日の受験対策の週３回の学習によって、<br>
      高校受験に必要な学力を養います。
    </p>

  <h3 class="top-message">
    【　合格ロードマップを活用した受験対策　】
  </h3>
    <p class="message-text">
      合格までのロードマップを元に学習を進めることで、<br>
      目標達成ができるように全力でサポートします。
    </p>

  <h3 class="top-message">
    【　目標が未達成の場合は全額返金保証　】
  </h3>
    <p class="message-text">
      万が一合格できなかった場合、通塾した期間の授業料を全額返金いたします。
    </p>
</div>