<div class="home-content wrapper">
  <h2 class="page-title">進路面談</h2>
  <p> 〜9つの視点でお悩みを解決いたします〜 </p>
</div>

<div class="interview-content wrapper">
  <div class="point">
    <img src="" alt="">
    <p class="point-comment">
      最新の進路情報を提供
    </p>
  </div>
  <div class="point">
    <img src="" alt="">
    <p class="point-comment">
      高校入試過去問の分析資料を提供
    </p>
  </div>
  <div class="point">
    <img src="" alt="">
    <p class="point-comment">
      キャリアプランの確認
    </p>
  </div>
  <div class="point">
    <img src="" alt="">
    <p class="point-comment">
     目標から逆算し学習計画の立案 
    </p>
  </div>
  <div class="point">
    <img src="" alt="">
    <p class="point-comment">
      自己分析シートによる自己の振り返り
    </p>
  </div>
  <div class="point">
    <img src="" alt="">
    <p class="point-comment">
      適性診断によるアドバイス
    </p>
  </div>
  <div class="point">
    <img src="" alt="">
    <p class="point-comment">
      苦手克服のための分析
    </p>
  </div>
  <div class="point">
    <img src="" alt="">
    <p class="point-comment">
      身に付く勉強方法の提供
    </p>
  </div>
  <div class="point">
    <img src="" alt="">
    <p class="point-comment">
      心理学的視点でのアドバイス
    </p>
  </div>

</div>
  