<div class="home-content wrapper">
  <h2 class="page-title">〜利用規約〜</h2>
</div>
<div class="rule-contents wrapper">
  <h3 class="rule-head">
    第一章　会員規約
  </h3>
  <p class="rule-content">
    1.会員とは、本気役に同意の上所定の手続きに従って利用の申し込みを行った者をいう。<br>
    2.当塾では、会員登録の申し込みを受け、必要な手続きの上申込みの承諾を行う。なお、手続きについて（）
    に該当する行為を行う恐れがあるなど、運営に支障をきたす恐れがあると当塾が判断した場合、会員登録を承諾しない場合もある。<br>
    3.会員は、当塾のサービス全般に対して会員が有する一切の権利を第三者に販売・贈与・譲渡・貸与及び提供する等の行為を認めない。<br>
    4.本規約について、会員に対して事前の通知なく改定・修正する場合がある。なお、改定・修正後、本サービスを利用した当該会員は本規約の改定及修正に同意したものとし、遵守するものとする。<br>
    5.本規約について、入塾希望者が会員登録申し込みを行い、それを当塾が承認した当日から当塾の退会日まで効力を生じるものとする。<br>
  </p>
</div>