<div class="home-content wrapper">
  <h2 class="page-title">〜塾の運営について〜</h2>
</div>
<div class="Menu-contents wrapper">
  <h3 class="Menu-box-Info">＜塾長より＞<h3>
    <p class="message">　私は、塾長の〇〇と申します。この塾は、20✖️✖️年より開講いたしました。
       私は、元々地方のとある塾で塾講師として５年間務めていました。様々な学年の生徒を担当する中でも主に中学3年生の高校受験を担当しておりました。
       担当した中学3年生の生徒数は100名を超えます。高校受験について５年間で積み重ねてきた経験と知識をもとに、受験合格に必要なエッセンス分析し、
       100％合格するための方法を考えました。当塾では、その経験と知識をベースとした学習指導により生徒の皆様を確実に合格へ
       導きます。合格するために一切の妥協はしません。将来を見据え、今必要なことを必要以上に取り組むことが何よりも結果を出すために
       大切なことなのです。生徒の皆さんを自主性を重んじ、主体的に学習に取り組める環境を用意することで、課題解決能力や計画遂行能力、
       目標達成へのグリッド力（やりきる力）を育みつつ、学習指導・進路指導を行なっていきます。
       生徒の皆さんが立派な社会人として世の中で活躍できるよう、
       高校受験という生徒の皆さんにとって人生で初めての節目となる期間を全力でサポートしてまいります。
    </p>
  <h3 class="Menu-box-Info">＜教育理念＞<h3>
    <p class="memo">
      自らの人生を豊かにしつつ、社会に貢献する人財を育成する
    </p>
  <h3 class="Menu-box-Info">＜教育方針＞<h3>
    <p class="memo">
      1,自らの将来を真剣に考え、目標達成に向けて自ら邁進する力を身につける<br>
      2,あらゆることに対して感謝の気持ちを持ち、自己と他者を尊重する<br>
      3,必要最低限のルールとマナーを守り、自主的な規律意識を高める<br>
    </p>
  <h3 class="Menu-box-Info">＜指導教科＞<h3>
    <p class="memo">
      「通常授業・受験対策」ともに数学・英語の２教科
    </p>
  <h3 class="Menu-box-Info">＜受講期間＞<h3>
    <p class="memo">
      9月の第一週目〜翌年3月末まで　※受験が終了後、3月末まで高校数学・高校英語の予習を行います。
    </p>
  <h3 class="Menu-box-Info">＜授業日程＞<h3>
    <p class="memo">
      Aグループ: 毎週火曜日・木曜日　18:30〜21:30,　毎週土曜日　17:30〜19:30<br>
      Bグループ: 毎週水曜日・金曜日　18:30〜21:30,　毎週土曜日　19:40〜21:40<br>
      ※授業はグループを２つに分けておこないます。<br>　入塾の際は、ご都合の良い日程をお選び下さい。<br>
      ※グループごとによって学力の差はありません。<br>　あくまでも個々人に合わせた指導を行います。
    </p>
  <h3 class="Menu-box-Info">＜授業概要＞<h3>
    <p class="memo">
      1グループ10名、自主学習形式の授業を行います。<br>
      決められた時間内で問題演習に取り組んで頂き、<br>
      わからないところは質問応対を行います。<br>
      個別指導でも集団指導でもありません。<br> 
    </p>
  <h3 class="Menu-box-Info">＜授業の流れ＞<h3>
    <p class="schedule">
      18:30　　マインドフルネス　-　マインドフルネスにより、集中力とメタ認知力を高めます　-<br>
      18:40　　ブレイントレーニング　-　脳を活性化させるため、脳トレゲームをプレイしてもらいます　-<br>
      18:50　　学習目標設定シートの記入　-　学習目標を設定し、学習内容を明確にします　-<br>
      19:00　　問題演習「数学」（60分間）　-　学習目標に合わせて、テキストを進めていきます　-<br>
      20:10　　問題演習「英語」（60分間）　-　学習目標に合わせて、テキストを進めていきます　-<br>
      21:10　　学習目標の振返　-　学習目標が達成度を振り返り、学習内容のアウトプットを行います　-<br>
      21:30　　終了　※22:00まで質問受付
    </p>
  <h3 class="Menu-box-Info">＜お申込み＞<h3>
    <p class="memo">
      ページ上部にあるお問い合わせからお願い致します。
    </p>
  <h3 class="Menu-box-Info">＜進路面談＞<h3>
    <p class="memo">
      無料の進路面談でお悩みを解決いたします。
      <%= link_to '進路面談の詳細へ', interview_content_path(:id), method: :get, class: "interview-link"%>
    </p>
  <h3 class="Menu-box-Info">＜基本情報＞<h3>
  <section id="location">
    <div class="wrapper">
      <div class="locaion-info">
        <h3 class="sub-title">【岩沼進学塾】</h3>
        <p class="address">
          宮城県〇〇市〇〇<br>
          電話 : 000-0000-0000<br>
          メール : t.itabashi.school@gmail.com<br>
          開校時間 : 平日18:30〜22:00<br>
          　　　　  土曜日17:30〜22:00<br>
          休日： 日曜日・月曜日<br>
          ※12月28日〜1月4日の期間は休校します。
        </p>
      </div>
      <div class="locaiton-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6279.0174170685095!2d140.85396895!3d38.10509795000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8a3d385964594b%3A0x475b813e8010a28!2z44CSOTg5LTI0NTIg5a6u5Z-O55yM5bKp5rK85biC5a2X5q2m6ZqI!5e0!3m2!1sja!2sjp!4v1594977930907!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    <div>
  </section>  
  <h3 class="Menu-box-Info">＜その他＞<h3>
    <p class="memo">
      <%= link_to '利用規約', rule_content_path(:id), method: :get, class: "rule"%>
    </p>
</div>